extends layouts/main-layout

block styles
        link(rel="stylesheet", href="/css/product.css")

block content
    main 
        form(action="/admin/add-product", method="post") 
            .form-control
                label(for="title") Title
                input(type="text", name="title")#title 
        button(type="submit") Add product